@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');


h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.wrapper{
    width: 100vw;
    margin: auto;
}

.header{
    overflow: auto;
    width: 75vw;
    margin: 1em auto;
}
h1.logo{
    text-transform: uppercase;
    width: 50%;
    float: left;
}

h1.logo a{
    font-family: 'Oswald',sans-serif;
    color: #96746b;
    text-decoration: none;
}
.header ul{
    width: 50%;
    float: left;
    text-align: right;
    padding: 1em;
}
.header ul li{
    display: inline-block;
    margin-left: 1em;
}
.header ul a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}
.banner{
    background-image: url(../img/images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 670px;

}
.banner-text{
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    width: 45%;
}
.banner-text h2{
    color: #96746b;
    font-size: 4em;
    text-transform: uppercase;
}
.banner-text h2 span{
    color: #c7a17a;
}
.banner-text p{
    color: #fff;
}
.banner a{
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #312126;
    font-weight: 700;
    margin-top: 1em;
    font-family: "Raleway", sans-serif;
}
.ads{
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}